<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>The Amazing Shortener!</p>

  <form action="/urls" method="post">
  
    <input id="title" type="text" name="url[long_name]" placeholder="Enter Full URL Here">
    <br>
    <input type="submit" value="shorten url">

  </form>

</div>
 
