<div class="container">

    <a href=<%= (@show == 'long') ? @shorty.short_url : @shorty.long_url %> ><%= (@show == 'short') ? @shorty.short_url : @shorty.long_url %></a>
    <br>
    <input type="submit" value="shorten url">


</div>
 
